.App {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#quote-box {
  width: fit-content;
  border-color: black;
  background-color: red;
  padding: 20px;

}

#text {

}

#author {

}

#new-quote {
  width: 100px;
  height: 20px;
}

#tweet-quote {

}


